### project related file
.vscode/
__pycache__/
### output models
quantized-models/
float-models/
script-models/
### cpptorch related
build/
result/
### model params
params/
### libtorch
*.zip
libtorch/
### torchvision
vision/
### opencv
opencv*/
cvtest/