### project related file
.vscode/
__pycache__/
### output models
quantized-models/
float-models/
script-models/
### model params
resnet50/
vgg16/
### libtorch
*.zip
libtorch/
### torchvision
vision/
### opencv
opencv*/
cvtest/